Global Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body and HTML */
html, body {
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #483C32; 
}

/* Full Height Layout */
body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  overflow-x: hidden; /* Removes horizontal scrollbar */
}